<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="sendData()">
    
    <ion-item>
       <ion-label floating>Usuario</ion-label>
       <ion-input type="text" formControlName="user"></ion-input>
    </ion-item>
    <p *ngIf="user.hasError('minlength') && user.touched" color="danger">Usuario de mínimo 8 caracteres</p>
    <p *ngIf="user.hasError('required') && user.touched" color="danger">Usuario requerido</p>

    <ion-item>
       <ion-label floating>Contraseña</ion-label>
       <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <p *ngIf="password.hasError('minlength') && password.touched" color="danger">Contraseña de mínimo 6 caracteres</p>
    <p *ngIf="password.hasError('required') && password.touched" color="danger">Contraseña requerida</p>

  </form>

  <p *ngIf="_flag" color="danger">El usuario o la contraseña son incorrectos</p>

  <br><br>
  <button submit ion-button [disabled]="!myForm.valid" full (click)="sendData()">Send Data</button>


</ion-content>
